<?xml version = "1.0" encoding = "UTF-8"?>
<server description = "new liberty server">

    <featureManager>
        <feature>servlet-4.0</feature>
        <feature>springBoot-2.0</feature>
    </featureManager>

    <httpEndpoint id =  "defaultHttpEndpoint"
                        hosts = "*"
                        httpPort = "9080"
                        httpsPort = "9443" />

    <springBootApplication id = "demoSBOL"
                            location = "thin-demoSBOL-0.1.0.jar"
                            name = "demoSBOL" />

</server>